{% extends "base.html" %} {% block title %}About{% endblock %} {% block content
%}
<h2 class="page_head">About</h2>
<p>
	This project is the implementation of the research paper "A Web-Based
	Application for Early Cataract Detection Using Machine Learning" by
	<a
		href="https://www.linkedin.com/in/namrata-pandey-8843861a4/"
		target="_blank"
		rel="noopener noreferrer"
		>Namrata Pandey</a
	>,
	<a
		href="https://www.linkedin.com/in/nitish-kk/"
		target="_blank"
		rel="noopener noreferrer"
		>Nitish Kumar Kushwaha</a
	>
	and
	<a href="https://www.linkedin.com/in/piyush-verma-aviatorpiyush/"
		>Piyush Kumar Verma</a
	>.
</p>
{% endblock %}
