{% extends "base.html" %} {% block content %}
<h2 class="page_head">How to use</h2>

<dl class="how-to">
  <dt>Step 1</dt>
  <dd>Visit <a href="/">Home</a>.</dd>
  <dt>Step 2</dt>
  <dd>Select a fundus image from your local file system.</dd>
  <dd>
    <i>
      If possible, please resize the image to 192x256 resoltuion, ensuring that
      eyeball covers most of the space, it will result in much faster prediction
      as server won't have to resize the image.
    </i>
  </dd>
  <dt>Step 3</dt>
  <dd>Click on "Get Prediction" button.</dd>
  <dt>Step 4</dt>
  <dd>After submission, you will be redirected to the results page.</dd>
</dl>

{% endblock %}
