@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap");

* {
	box-sizing: border-box;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul,
li,
dl {
	margin: 0;
	padding: 0;
}

p,
label,
button,
input,
li {
	font-size: 1.15rem;
}

ul,
li {
	list-style-type: none;
}

a {
	text-decoration: none;
	color: #007bff;
	font-style: italic;
}

button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

body {
	font-family: "Open Sans", sans-serif;
}

main {
	max-width: 768px;
	padding: 1.5rem 1rem;
	margin: auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 1rem;
	position: sticky;
	width: 100%;
	top: 0;
	backdrop-filter: blur(10px);
	max-width: 800px;
	margin: auto;
	padding: 0 1rem;
	border-bottom: 1px solid #45454520;
}

header img {
	width: 28px;
	height: 28px;
	border-radius: 50%;
	vertical-align: middle;
}

nav {
	padding: 0.25rem 0 0.5rem;
}

nav ul {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.page_head {
	border-bottom: 1px solid #45454540;
	margin-bottom: 1rem;
}

#image_form {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

#image_form input {
	font: inherit;
	font-size: 1rem;
}

#image_form input[type="submit"] {
	width: fit-content;
	color: white;
	background-color: #007bff;
	border: none;
	border-radius: 5px;
	padding: 0.35rem 0.75rem;
}

#preview_text {
	padding: 1.5rem 0 1rem;
}

.preview {
	max-height: 512px;
}

#preview_img {
	max-height: 512px;
	width: 100%;
	object-fit: contain;
	display: none;
}

.usage {
	font-size: 1rem;
}

.usage dt {
	font-weight: bold;
}

.pred-result__value {
	font-size: 1.25rem;
	font-weight: bold;
	padding: 0 0.25rem;
}

#ham,
#close-btn {
	display: none;
}

.github {
	background-color: white;
}

@media screen and (max-width: 476px) {
	#ham {
		display: block;
	}

	#close-btn {
		display: block;
		position: absolute;
		top: 0.4rem;
		right: 1rem;
		color: white;
		font-size: 1.5rem;
	}

	.overlay {
		height: 100vh;
		width: 0;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		background-color: rgba(45, 45, 45, 0.8);
		overflow-x: hidden;
		transition: width 0.5s ease-in-out;
	}

	.overlay ul {
		position: relative;
		top: 25%;
		width: 100%;
		text-align: center;
		flex-direction: column;
	}

	.overlay ul li a {
		color: white;
	}

	.active {
		width: 100%;
	}
}
